*{
    margin: 10px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 43%, rgba(237, 221, 83, 1) 100%);
  
}

body{
    font-family: "Rubik", sans-serif;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    border: 1px solid rgb(22, 105, 75);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    background-color: rgb(77, 96, 175);
    transform: translateY(-40px)
}
