*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
  

body{
    margin: 0;
    min-height: 100vh;
    background: #F8FAFC;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav{
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
    border-radius: 10px;
    font-size:22px;
}

nav ul li a:hover{
    background-color:#000000;
    color: rgb(254, 254, 254);
    transform: translateY(-40px)
}

#about{
    color: #1E293B;
    border: 7px solid;
}

#projects{
    color: rgb(0, 0, 0);
}

#skills{
    color: rgb(0, 0, 0);
}

#experience{
    color: rgb(0, 0, 0);

}
#contact{
    color: rgb(0, 0, 0);
}


html{
    scroll-behavior: smooth;
}

section{
    min-height: 80vh;
    padding: 80px 60px;
    scroll-margin-top: 100px;
}

nav h1{
    color: rgb(0, 0, 0);
    margin: 0;
    align-items: flex-start;
}

footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 25px 20px;
    margin-top: 50px;
}

.footer-links{
    margin-top: 10px;
}

.footer-links a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.footer-links a:hover{
    color: #38bdf8;
}

.stud{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.stud-text{
    width: 60%;
    font-size: 18px;
    background-color: #F8FAFC;
}

.stud-image{
    width: 40%;
    display: flex;
    justify-content: center;
}
 

.stud-text p{
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #F8FAFC;
}